<footer id="g4m-contact">
    <div class="g4m-footer-container">
        <div class="g4m-left-footer-item">
            <div class="g4m-wrap-footer-item">
                <div class="g4m-sitemap">
                    <h2>SITEMAP</h2>
                    <hr>
                </div>
                <div class="g4m-footer-links">
                    <ul>
                        <li><a href="https://go4more.academy">go4more.Academy</a></li>
                        <li><a href="https://go4more.school">go4more.School</a></li>
                        <li><a href="https://go4more.training">go4more.Training</a></li>
                        <li><a href="https://go4more.institute">go4more.Institute</a></li>
                    </ul>
                </div>
                <div class="g4m-footer-page-links">
                    <ul>
                        <li><a href="//moodle.go4more.school/?redirect=0">Site Home</a></li>
                        <li><a href="//moodle.go4more.school/my/">Dashboard</a></li>
                        <li><a href="//moodle.go4more.school/calendar/view.php?view=month">Calendar</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="g4m-center-footer-item">
            <div class="g4m-wrap-footer-item">
                <div class="g4m-get-in-touch">
                    <h2>GET IN TOUCH</h2>
                    <hr>
                </div>
                <div class="g4m-footer-adress">
                    <p>
                        Workconsult, LLC <br>
                        Sobornosti 50 <br>
                        36000 Poltava <br>
                        Ukraine
                    </p>
                </div>
                <div class="g4m-footer-adress">
                    <p>
                        go4more.School <br>
                        A service of Workconsult, LLC <br>
                        Sobornosti 46B <br>
                        36000 Poltava <br>
                        Ukraine
                    </p>
                </div>
                <div class="g4m-footer-contacts">
                    <ul>
                        <li>Tel: <a href="tel:+380667242986" target="_blank">+380667242986</a></li>
                        <li>Tel: <a href="tel:+380675867489" target="_blank">+380675867489</a></li>
                        <li>Fax: <a href="tel:+380532565344" target="_blank">+380532565344</a></li>
                        <li>Email: <a href="mailto:contact@go4more.school" target="_blank">contact@go4more.school</a></li>
                        <li>Internet: <a href="https://go4more.school/" target="_blank">go4more.school</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="g4m-right-footer-item">
            <div class="g4m-wrap-footer-item">
                <div class="g4m-social-media">
                    <h2>SOCIAL MEDIA</h2>
                    <hr>
                </div>
                <div class="g4m-footer-adress">
                    <p>
                        We are in social networks
                    </p>
                </div>
                <div class="g4m-social-media-items">
                    <div class="g4m-social">
                        <a href="https://www.facebook.com/go4more.school" class="g4m-fb" target="_blank">
                            <div class="g4m-social-item">
                                <svg class="g4m-icon icon-fb">
                                    <use xlink:href="{{{config.wwwroot}}}/theme/go4moreschool/img/svg/social.svg#icon-fb"></use>
                                </svg>
                            </div>
                        </a>
                        <a href="https://www.instagram.com/go4more_school/" target="_blank" class="g4m-insta">
                            <div class="g4m-social-item">
                                <svg class="g4m-icon icon-insta">
                                    <use xlink:href="{{{config.wwwroot}}}/theme/go4moreschool/img/svg/social.svg#icon-insta"></use>
                                </svg>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
{{{ output.standard_end_of_body_html }}}