html,
body {
    height: unset;
    width: unset;
}
form {
    margin: 0 !important;
}

form button {
    border: none;
}

.g4m-signup-form-wrapper1 .g4m-login-form-container {
    padding-top: 10px;
    padding-bottom: 20px;
}

.g4m-signup-form-wrapper1 .g4m-wrap-formfield {
    margin-bottom: 10px;
}

.g4m-login-form-wrapper2 {
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.g4m-login-form-container {
    position: relative;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    min-height: 400px;
    min-width: 360px;
    width: 100%;
    background: rgb(255, 255, 255);
    opacity: initial;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 10px;
    padding-top: 40px;
}

.academy-page .g4m-close-popup:before {
    background-color: #1F3D7E;
}

.school-page .g4m-close-popup:before {
    background-color: #45acac;
}

.training-page .g4m-close-popup:before {
    background-color: #E13959;
}

.institute-page .g4m-close-popup:before {
    background-color: #FCC72B;
}

.academy-page .g4m-close-popup:after {
    background-color: #1F3D7E;
}

.school-page .g4m-close-popup:after {
    background-color: #45acac;
}

.training-page .g4m-close-popup:after {
    background-color: #E13959;
}

.institute-page .g4m-close-popup:after {
    background-color: #FCC72B;
}

.g4m-form-header {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 20px;
    margin-bottom: 20px;
}

.g4m-title-text {
    display: block;
    font-size: 39px;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
}

.academy-page .g4m-title-text {
    color: #1F3D7E;
}

.school-page .g4m-title-text {
    color: #45acac;
}

.training-page .g4m-title-text {
    color: #E13959;
}

.institute-page .g4m-title-text {
    color: #FCC72B;
}

#g4m-signin input,
#g4m-signup input {
    border: transparent;
}

.g4m-wrap-formfield {
    width: 100%;
    position: relative;
    border-bottom: 2px solid #d9d9d9;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 30px;
}

.g4m-title-formfield {
    font-size: 14px;
    color: #303331;
    line-height: 1.5;
    padding-left: 7px;
}

.g4m-formfield {
    font-size: 16px;
    color: #303331;
    line-height: 1.2;
    display: block;
    width: 100%;
    height: 55px;
    background: transparent;
    padding: 0 7px 0 43px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}

.g4m-formfield::-webkit-input-placeholder {
    color: lightgray;
}

.g4m-formfield:-ms-input-placeholder {
    color: lightgray;
}

.g4m-formfield::-ms-input-placeholder {
    color: lightgray;
}

.g4m-formfield::placeholder {
    color: lightgray;
}

.g4m-formfield:focus + .g4m-underline-formfield::before {
    width: 100%;
    left: 0;
}

.academy-page .g4m-formfield:focus + .g4m-underline-formfield::before {
    background: #1F3D7E;
}

.school-page .g4m-formfield:focus + .g4m-underline-formfield::before {
    background: #45acac;
}

.training-page .g4m-formfield:focus + .g4m-underline-formfield::before {
    background: #E13959;
}

.institute-page .g4m-formfield:focus + .g4m-underline-formfield::before {
    background: #FCC72B;
}

.g4m-filled-formfield.g4m-formfield + .g4m-underline-formfield::before {
    width: 100%;
    left: 0;
}

.academy-page .g4m-formfield:focus ~ .g4m-form-icons {
    fill: #1F3D7E;
}

.school-page .g4m-formfield:focus ~ .g4m-form-icons {
    fill: #45acac;
}

.training-page .g4m-formfield:focus ~ .g4m-form-icons {
    fill: #E13959;
}

.institute-page .g4m-formfield:focus ~ .g4m-form-icons {
    fill: #FCC72B;
}

.academy-page .g4m-filled-formfield.g4m-formfield ~ .g4m-form-icons {
    fill: #1F3D7E;
}

.school-page .g4m-filled-formfield.g4m-formfield ~ .g4m-form-icons {
    fill: #45acac;
}

.training-page .g4m-filled-formfield.g4m-formfield ~ .g4m-form-icons {
    fill: #E13959;
}

.institute-page .g4m-filled-formfield.g4m-formfield ~ .g4m-form-icons {
    fill: #FCC72B;
}

.g4m-underline-formfield {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}

.g4m-underline-formfield::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: 50%;
    width: 0;
    height: 2px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}

.academy-page .g4m-underline-formfield::before {
    background: #1F3D7E;
}

.school-page .g4m-underline-formfield::before {
    background: #45acac;
}

.training-page .g4m-underline-formfield::before {
    background: #E13959;
}

.institute-page .g4m-underline-formfield::before {
    background: #FCC72B;
}

.g4m-form-icons {
    fill: #adadad;
    position: absolute;
    top: 50%;
    left: 10px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}

#g4m-login-button,
#g4m-signup-button {
    height: 40px;
    margin: 40px 0;
    width: 100%;

    color: white;
    font-weight: 600;
    font-size: 18px;
    border-radius: 20px;
    outline: none;
}

#g4m-signup-button {
    margin: 10px 0 !important;
}

.academy-page #g4m-login-button,
.academy-page #g4m-signup-button {
    background: #1F3D7E;
}

.school-page #g4m-login-button,
.school-page #g4m-signup-button {
    background: #45acac;
}

.training-page #g4m-login-button,
.training-page #g4m-signup-button {
    background: #E13959;
}

.institute-page #g4m-login-button,
.institute-page #g4m-signup-button {
    background: #FCC72B;
}

#g4m-login-button:hover,
#g4m-signup-button:hover {
    cursor: pointer;
}

#g4m-login-button:hover,
#g4m-signup-button:hover {
    -webkit-animation: backgroundbutton 5s infinite linear;
    animation: backgroundbutton 5s infinite linear;
}

@-webkit-keyframes backgroundbutton {
    0% {
        background: #45ADAD;
    }
    25% {
        background: #E13959;
    }
    50% {
        background: #FCC72B;
    }
    75% {
        background: #2351C7;
    }
    100% {
        background: #45ADAD;
    }
}

@keyframes backgroundbutton {
    0% {
        background: #45ADAD;
    }
    25% {
        background: #E13959;
    }
    50% {
        background: #FCC72B;
    }
    75% {
        background: #2351C7;
    }
    100% {
        background: #45ADAD;
    }
}

.g4m-signin-logo {
    height: 40px;
}

#g4m-signin,
#g4m-signup {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 10px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}

@media all and (max-width: 500px) {
    .g4m-login-form-container {
        max-width: 330px;
    }
}