#intro .no-overflow p,
#intro .no-overflow table {
    margin-top: 1.5rem !important;
    margin-bottom: 1rem !important;
}

.qtext p,
.qtext table {
    margin-top: 1.5rem !important;
    margin-bottom: 1rem !important;
}