/*temporary changes*/
.g4m-user-bar img,
.g4m-unloginned-user-container {
    display: none;
}
/*temporary changes*/

.g4m-page-menu {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin: 0;
    padding-right: 50px;
}

.g4m-page-navigation {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

@media all and (max-width: 1160px) {
    .g4m-vline-c-b {
        top: -2px;
    }
}

@media all and (max-width: 840px) {
    .g4m-vline-c-b {
        display: unset;
        margin: 0 20px;
        top: 0;
    }
    .g4m-page-menu-item {
        margin: 0;
    }
}

@media all and (max-width: 500px) {
    .g4m-wrapper-page-navigation-menu-bar:hover .g4m-page-navigation-menu-bar-container {
        font-size: 10px;
        font-weight: 600;
        border-radius: 2px;
    }
}