.mfp-image-holder .mfp-content {
    /*height: 90%;*/
    /*max-height: 800px;*/
    /*width: 95%;*/
}
.mfp-figure {
    height: 100%;
}

.mfp-figure button.mfp-close {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: unset;
    cursor: pointer !important;
    color: white !important;
}

.g4m-scalable-image {
    height: inherit;
}

.mfp-zoom-out-cur, .mfp-image-holder {
    cursor: unset !important;
}

.mfp-figure figure {
    overflow: auto;
    height: 100%;
/*    display: flex;
    justify-content: center;
    align-items: center;*/
}
.mfp-figure:after {
    display: none;
}

.mfp-figure figure::-webkit-scrollbar {
    display: none;
}