.mfp-bg {
    display: none !important;
}

.mfp-wrap {
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    width: 100% !important;
    height: 100% !important;
    z-index: 10001 !important;
    position: fixed !important;
    outline: none !important;
    -webkit-backface-visibility: hidden !important;
    background-color: rgba(0,0,0,.8) !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
}

.mfp-iframe-holder {
    padding-top: unset !important;
    padding-bottom: unset !important;
}

.mfp-container {
    text-align: unset;
    position: unset;
    width: 100%;
    height: 100%;
    left: unset;
    top: unset;
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.mfp-iframe-holder .mfp-content {
    line-height: unset !important;
    max-width: unset !important;
    min-width: unset !important;
    width: 90% !important;
    height: 84% !important;
}

.mfp-content {
    position: relative !important;
    display: unset !important;
    vertical-align: unset !important;
    margin: unset !important;
    text-align: unset !important;
    z-index: 505 !important;
}

.mfp-iframe-scaler {
    width: 100% !important;
    height: 100% !important;
    overflow: unset !important;
    padding-top: unset !important;


    display: -webkit-box !important;


    display: -ms-flexbox !important;


    display: flex !important;
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
}

.mfp-iframe-scaler iframe {
    position: unset !important;
    top: unset !important;
    left: unset !important;
    width: 100% !important;
    height: 100% !important;
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.6) !important;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6) !important;
    background: black !important;
}

.mfp-close {
    box-sizing: border-box;
    height: 40px;
    width: 40px;
}

/*
.mfp-close:active {
    top: unset !important;
}*/

@media all and (max-width: 768px) {
    .mfp-iframe-holder .mfp-close,
    .mfp-close {
        right: -10px !important;
    }
}

/*.mfp-preloader {
    position: absolute;
    z-index: 999999;
    width: 30px;
    height: 30px;
    background-color: red;
    !*opacity: 0.65;*!
    margin: 0 auto;
    -webkit-animation: rotateplane 1.2s infinite ease-in-out;
    animation: rotateplane 1.2s infinite ease-in-out;
}*/

/*
.mfp-s-loading {
    position: absolute;
    z-index: 999999;
    width: 20px;
    height: 20px;
    background-color: #2fff21;
    margin: 0 auto;
}*/


/*g4m loader in iframe >>>>>>>>>>*/
/*.g4m-spinner {
    height: 100px;
    width: 100px;
    background-color: #E13959;
    animation: spinning 3s ease-in-out infinite;
}
@-webkit-keyframes spinning {
    0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

@keyframes spinning {
    0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}*/
/*g4m loader in iframe <<<<<<<<<<*/