.mfp-wrap {
    height: 100%;
    width: 100%;

}

.mfp-iframe-holder {
    padding: 0;
}

.mfp-container {
    position: unset;
    left: unset;
    right: unset;
    top: unset;
    text-align: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.mfp-content {
    margin: unset;
    position: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.mfp-iframe-holder .mfp-content {
    max-width: unset;
    position: unset;
    vertical-align: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    text-align: unset;
    z-index: unset;
}

.mfp-iframe-scaler {
    height: 100%;
    width: -moz-min-content;
    width: -webkit-min-content;
    width: min-content;
    padding-top: unset;
    overflow: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.mfp-iframe-scaler iframe {
    position: unset;
    width: 360px;
    height: 705px;
    top: unset;
    left: unset;
    -webkit-box-shadow: unset;
    box-shadow: unset;
    background-color: unset;
}

.mfp-iframe-holder .mfp-close {
    left: unset;
    bottom: unset;
    position: relative;
    right: -30px;
    top: 10px;
    -ms-flex-item-align: end;
    align-self: flex-end;
    width: -moz-min-content;
    width: -webkit-min-content;
    width: min-content;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
}

@media all and (max-width: 400px) {
    .mfp-iframe-holder .mfp-close {
        right: 8px;
        /*top: 45px;*/
        color: rgba(69, 171, 171, 0.9);
        opacity: unset;
    }

    .mfp-iframe-holder .mfp-close:hover {
        color: #45abab;
    }
}

@media all and (max-width: 300px) {
    .mfp-iframe-holder .mfp-close {
        right: 30px;
    }

    .mfp-iframe-scaler {
        position: relative;
        top: -44px;
    }
}

@media all and (max-width: 260px) {
    .mfp-iframe-holder .mfp-close {
        right: 45px;
    }
}