html,
body {
    height: 100%;
    width: 100%;
    /*overflow-x: hidden;*/
    /*position: relative;*/
}

/*
body {
    -webkit-overflow-scrolling: touch;
}
*/

html {
    width: 100%;
    overflow-x: hidden;
}

/*MOODLE dialogue window .yui3-panel*/
.yui3-panel {
    /*top: 0 !important;*/
    /*margin: 10px auto;*/
}
/*MOODLE dialogue window .yui3-panel*/

nav.navbar {
    min-height: 50px;
    max-height: 50px;
    position: unset;
}

#page-wrapper {
    margin-bottom: unset;
    height: auto; !
}

#nav-drawer {
    /*top: 50px;*/
    top: 255px;
    position: absolute;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    margin-left: unset;
    margin-right: unset;
}

[data-region="drawer"] {
    top: 50px;
}

#sidepre-blocks {
    top: 255px;
    position: absolute;
}

#sidepreopen-control {
    z-index: 998;
    position: absolute;
    background: #45acac url('[[pix:theme|angle-up-w]]');
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: 50% 25%;
    padding: unset;
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}

#sidepreopen-control:hover {
    -webkit-box-shadow: 0 0 1px #45acac;
    box-shadow: 0 0 4px #45acac;
}

#sidepreopen-control[aria-expanded=true] {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    background-position: 50% 65%;
}

#sidepreopen-control:before {
    font-family: unset;
    content: unset;
}

body.drawer-open-right #sidepreopen-control:before {
    content: unset;
}

section#sidepre-blocks {
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    overflow-y: unset;
}
#sidepre-blocks .closed {
    width: 0;
}

/*color of login panel and common buttons*/
#page-login-index.moove-login .loginpanel .card-block .instructions,
#page-login-index.moove-login .loginpanel #page-enrol-users #filterform .instructions,
#page-enrol-users #page-login-index.moove-login .loginpanel #filterform .instructions {
    background-color: #45acac;
}

/*fix suare course list on old iPhones*/
/*.card-deck .card {
    flex-basis: 45% !important;
}*/
/*fix suare course list on old iPhones*/

.btn-primary {
    background-color: #45acac;
    border-color: #45acac;
}
/*color of login panel and common buttons*/

/*change button "attempt quiz" >>>>>*/
form[action*="startattempt"] button.btn-secondary {
    border: 2px solid #45acac !important;
    background: unset !important;
    color: #45acac !important;
    border-radius: 8px !important;
    white-space: unset !important;
}
/*change button "attempt quiz" <<<<<*/

/*change navigation button inside quiz >>>>>*/
form[action*="processattempt"] input.mod_quiz-next-nav,
form[action*="processattempt"] input.mod_quiz-prev-nav {
    border: 2px solid #45acac !important;
    background: white !important;
    color: #45acac !important;
    border-radius: 4px !important;
    margin: unset !important;
    white-space: unset !important;
}

form[action*="attempt"] button.btn-secondary {
    background: white !important;
    color: #45acac !important;
    border-radius: 4px !important;
    white-space: unset !important;
}

#page-mod-quiz-summary .submitbtns {
    margin-top: 10px;
}

div.submitbtns a.mod_quiz-next-nav {
    display: block;
    border: 2px solid #45acac;
    border-radius: 4px;
    padding: 4px 8px;
    color: #45acac;
    text-decoration: none;
}
/*change navigation button inside quiz <<<<<*/

/*border around block with question info and questions >>>>>*/
.que .info {
    background: unset;
    border: 1px solid #45acac;
    border-radius: 4px;
}

.que .formulation {
    background: unset;
    /*border: 1px solid #45acac;*/
    box-shadow: 0 0 5px #dadada;
    border-radius: 4px;
}
/*border around block with question info and questions <<<<<*/

/*change colors in navigation legend in quiz >>>>>*/
#mod_quiz_navblock .qnbutton .thispageholder {
    border: 2px solid rgba(69, 172, 172, 0.6) !important;
}

#mod_quiz_navblock .qnbutton.answersaved .trafficlight {
    background-color: rgba(69, 172, 172, 0.6) !important;
}
/*change colors in navigation legend in quiz <<<<<*/

/*picture in quizes should be smaller than parent container >>>>>*/
div.content img {
    max-width: 100%;
    height: unset;
    /*min-width: 80px;*/
}
/*picture in quizes should be smaller than parent container <<<<<*/

/*scalable teble in quize >>>>>*/
.qtext table {
    max-width: 100%;
}
/*scalable teble in quize <<<<<*/

/*form elements in one row in quize >>>>>*/
.content .form-control {
    display: inline-block;
}
/*form elements in one row in quize <<<<<*/

/*hide message counter with zero >>>>> */
.hidden-count-zero {
    display: none;
}
/*hide message counter with zero <<<<< */

/*Popup menu over other items >>>>>*/
.popover-region-container {
    z-index: 3;
}
/*Popup menu over other items <<<<<*/

/*wide pictures set width of parent container*/
.no-overflow img {
    max-width: 100%;
    height: unset;
}
/*wide pictures set width of parent container*/


@media all  and (min-width: 992px) {
    /*Shows on a wide-screen an authentication button.*/
    #page-site-index.notloggedin .btn-login-top {
        display: inline-block !important;
    }
}

/*Moove right side block down*/
@media (min-width: 970px){
    .col-md-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
}
    /*Moove right side block down*/

@media all and (min-width: 768px) {

    body {
        margin-left: unset;
    }

    body.drawer-open-right {
        margin-right: unset;
    }

    body.drawer-open-left {
        margin-left: unset;
    }

    #page.container-fluid {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding-left: 80px;
        margin-top: 0;
    }

}

@media all and (max-width: 767px) {
    body.drawer-open-left {
        margin-left: unset;
    }

    div#page {
        margin-top: unset;
    }

    #page.container-fluid {
        padding: 5px 5px;
    }

}

@media all and (max-width: 750px) {
    #nav-drawer {
        top: 230px;
    }

    #sidepre-blocks {
        top: 230px;
    }
}

@media all and (max-width: 600px) {
    #region-main .card-body {
        padding: 5px 5px;
    }
    /*wide pictures set width of parent container*/
    .no-overflow img {
        max-width: 100%;
        height: unset;
    }
    /*wide pictures set width of parent container*/

    /*wide tables set width of parent container*/
    .no-overflow table {
        width: unset !important;
    }
    /*wide tables set width of parent container*/

    /*small paddin in quiz module*/
    .que .formulation {
        padding: 10px 5px;
    }
    /*small paddin in quiz module*/

    /*responsive img in quiz module*/
    .que .formulation ~ img {
        max-width: 100%;
        height: unset;
    }

    .qtext img {
        max-width: 100%;
        height: unset;
    }
    /*responsive img in quiz module*/
}

/*Deleting fixed table widths on narrow screens*/
@media all and (max-width: 550px) {
    .content table {
        width: unset !important;
    }
}
/*Deleting fixed table widths on narrow screens*/

/*change view of secondary button >>>>>>>>>>*/
.card-body .btn-secondary:not(.qnbutton),
.card-body .btn-default:not(.qnbutton) {
    margin: 10px;
    background-color: #45acac;
    border-color: #45acac;
    color: white;
    border-radius: 2px;
}

.card-body .btn-secondary:hover,
.card-body .btn-default:hover {
    background-color: #48b9b9;
    border-color: #48b9b9;
}
/*change view of secondary button <<<<<<<<<<*/

@media all and (max-width: 400px) {
    #sidepre-blocks {
        top: 230px;
        width: 180px;
    }
    body.drawer-open-right #sidepreopen-control {
        right: 160px;
    }

    #sidepreopen-control,
    [data-region="blocks-column"] {
        -webkit-transition: right .1s ease, left .1s ease;
        -o-transition: right .1s ease, left .1s ease;
        transition: right .1s ease, left .1s ease;
    }

    nav.navbar ul.navbar-nav .lang-menu .dropdown-menu {
        right: unset;
    }

}

@media all and (max-width: 350px) {
    #nav-drawer {
        top: 210px;
    }

    #sidepre-blocks {
        top: 210px;
    }

    nav#g4m-main-menu {
        top: -20px;
        z-index: 1000;
    }

    #g4m-popup-menu-open:checked ~ .g4m-toggle-button {
        top: -5px;
    }

}

@media all and (max-width: 320px) {
    nav.navbar {
        padding-right: 5px;
    }

    nav.navbar .d-inline-block {
        margin: 0 !important;
    }

    nav.navbar .usermenu .caret,
    nav.navbar .usermenu .dropdown-toggle::after {
        margin: 0;
    }

    nav.navbar .drawer-toggle .nav-link {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 5px 5px;
        margin: 0 !important;
    }

    nav.navbar ul.navbar-nav .lang-menu {
        padding: 0 5px;
    }

    nav.navbar ul.navbar-nav .lang-menu .nav-link {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    nav.navbar img.userpicture {
        margin-right: unset;
    }

    nav.navbar ul.navbar-nav .lang-menu .nav-item {
        line-height: unset;
    }

    nav.navbar ul.navbar-nav .popover-region .popover-region-toggle {
        line-height: unset;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 0 5px;
    }

    nav.navbar ul.navbar-nav .popover-region .popover-region-container {
        top: 220px;
    }

    .navbar-expand .navbar-nav li {
        line-height: unset;
    }

    nav.navbar ul.navbar-nav .usermenu {
        line-height: unset;
    }

    nav.navbar ul.navbar-nav {
        height: -webkit-min-content;
        height: -moz-min-content;
        height: min-content;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

}